h2 {
    color: darkblue;
}

.form-block {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.filled-basic{
    margin-bottom: 10px !important;
}